@font-face {
  font-family: myFont;
  src: url('CocogoosePro-trial.ttf');
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.background {
  position: absolute;
  top: 0;
  z-index: -2;
  background-image: url('static/background-cut.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 600px;
}

.background-gradient {
  background-color: #eeecec;
  display: none;
  opacity: 0.96;
  position: absolute;
  top: 0;
  width: 90vw;
  height: 600px;
  z-index: -1;
  overflow-x: hidden;
}

/* ---------------NAV-BAR------------ */

#menu-button {
  display: none;
  z-index: 2;
}

.close-button {
  display: none;
}

#header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2;
}

.header-cont {
  width: 100vw;
  background-color: #272a31;
}

.header-container {
  width: 90vw;
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.list-container {
  display: flex;
  list-style: none;
  color: #fff;
  justify-content: space-evenly;  /* ----------- */
  min-width: 200px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
  padding-top: 5px;
}

.header-tw {
  max-height: 30px;
}

.header-fb {
  max-height: 28px;
}

#logo {
  max-height: 50px;
}

.nav-row {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  margin-top: 0;
  margin-left: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  max-width: 100vw; /* ------- */
  justify-content: space-around;
}

.nav-menu-desktop {
  display: flex;
  justify-content: space-between;   /* ---- */
  min-width: 470px;
}

.nav-menu-mobile {
  display: none;
}

.menu-items-desktop {
  display: flex;
  list-style: none;
  justify-content: space-between;   /* ---- */
  min-width: 300px;
}

.header-button {
  background-color: transparent;
  border-style: solid;
  border-color: #ec5242;
  border-width: 4px;
  color: #ec5242;
}

/* ---------------iNTRO-SECTION------------ */

.intro-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eeecec;
  opacity: 0.96;
  margin: 0;
}

.intro {
  margin-top: 12%;
  max-width: 70%;
  margin-right: 0;
  margin-left: 0;
}

.intro-title {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url('static/font-background.jpg');
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'myFont', sans-serif;
}

.year {
  font-family: 'Lato', sans-serif;
}

.intro-greeting {
  color: #dd610e;
  margin-bottom: 0;
  font-size: 35px;
}

.intro-text {
  border-style: solid;
  border-color: #fff;
  border-width: 2px;
  padding: 20px 10px;
  max-width: 500px;
  line-height: 35px;
  font-weight: 300;
}

.intro-date {
  font-size: 40px;
  margin-bottom: 10px;
}

.intro-place {
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 6%;
}

/* ---------------CARD-SECTION------------ */

.program-container {
  background-image: url('static/pjbck.jpg');
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pr-section-title {
  margin-top: 4%;
}

.pr-section-title::after {
  content: "";
  display: block;
  width: 45px;
  margin-left: 55px;
  padding-top: 10px;
  opacity: 0.7;
  border-bottom: 3px solid #ec5242;
}

.card-container {
  display: flex;
  max-width: 75%;
  gap: 3px;
  margin-top: 4%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  text-align: center;
  background-color: rgba(100, 100, 100, 0.5);
}

.card-img {
  min-height: 50px;
  min-width: 50px;
  margin: 10px 0 5px 0;
}

.card-title {
  color: #ec5242;
  font-size: 22px;
  margin: 0;
}

.card-text {
  font-size: 13px;
  margin: 0;
  max-width: 85%;
  margin-bottom: 7%;
}

.projects-link {
  background-color: transparent;
  color: #fff;
  text-decoration: underline;
  margin-top: 4%;
  margin-bottom: 4%;
}

.projects-link-mobile {
  display: none;
}

.spk-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 14%;
}

.spk-container-title {
  align-self: center;
  margin-top: 4%;
  margin-bottom: 4%;
}

.spk-container-title::after {
  content: "";
  display: block;
  width: 45px;
  margin-left: 75px;
  padding-top: 10px;
  opacity: 0.7;
  border-bottom: 3px solid #ec5242;
}

.spk-card-container {
  align-self: center;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10%;
  width: 90%;
}

.spk-card {
  display: flex;
  gap: 2%;
}

.spk-card-img {
  max-width: 120px;
  max-height: 140px;
}

.photo-sticker {
  position: absolute;
  z-index: -1;
  margin-top: -28px;
  margin-left: -27px;
}

.spk-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spk-card-name {
  margin: 0;
  font-size: 20px;
}

.spk-card-title {
  margin: 0;
  color: #ec5242;
  font-size: 15px;
}

.spk-card-title::after {
  content: "";
  display: block;
  width: 30px;
  padding-top: 10px;
  opacity: 0.9;
  border-bottom: 3px solid #d3d3d3;
}

.spk-card-text {
  margin: 0;
}

.prtn-section-container {
  background-color: #272a31;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.prtn-section-title {
  font-weight: 100;
  margin-top: 2%;
  opacity: 0.5;
}

.prtn-section-title::after {
  content: "";
  display: block;
  width: 35px;
  margin-left: 20px;
  padding-top: 20px;
  opacity: 0.9;
  border-bottom: 3px solid #ec5242;
}

.partners {
  display: flex;
  justify-content: space-around;
  gap: 5%;
  opacity: 0.4;
  width: 70%;
}

.credits {
  display: flex;
  justify-content: center;
  gap: 5%;
  width: 100vw;
  padding-top: 15px;
  background-color: #e4e4e4;
}

.credits-brand {
  display: flex;
  max-width: 200px;
}

.footer-logo {
  align-self: flex-start;
  padding-top: 7px;
}

.footer-brand {
  margin: 0;
}

.credits-description {
  max-width: 400px;
  margin: 0;
}

.footer-title {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}






/* ---------------MOBILE SECTION------------ */
@media (max-width: 768px) {
  .background {
    background-size: cover;
    top: 0;
    height: 300px;
  }

  .background-gradient {
    height: 300px;
  }

  .header-cont {
    display: none;
  }

  #menu-button {
    display: block;
    cursor: pointer;
    opacity: 0.8;
    background-color: #edeeec;
    padding: 5px 2px 2px 0;
    border-radius: 5px;
    margin: 15px 0 0 10px;
  }

  #logo {
    display: none;
  }

  .nav-row {
    margin: 0;
    padding-top: 0;
    justify-content: unset;
    background-color: transparent;
  }

  .menu-items-mobile {
    display: none;
    flex-direction: column;
    gap: 50px;
    width: 100vw;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eeecec;
  }

  .button-container-mobile {
    background-color: #eeecec;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    border-style: dotted;
    border-color: #d3d3d3;
    border-width: 8px;
  }

  ul {
    padding: 0;
  }

  .header-button {
    display: none;
  }

  .nav {
    justify-content: flex-start;
    padding-top: 0;
    margin-top: 0;
  }

  .menu-item {
    font-size: 14px;
    font-family: myfont, sans-serif;
  }

  .menu-item::after {
    content: "";
    display: block;
    width: 80vw;
    margin-left: 7%;
    padding-top: 20px;
    border-bottom: 3px solid #ec5242;
    opacity: 0.5;
  }

  .nav-menu-mobile {
    display: block;
    gap: 0;
    padding-top: 0;
    margin-top: 0;
  }

  .nav-menu-desktop {
    display: none;
  }

  .close-button {
    margin-top: 5px;
    margin-left: 10px;
    display: none;
    align-self: flex-start;
  }

  .intro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #eeecec;
    opacity: 0.96;
  }

  .intro {
    margin-top: 15%;
    max-width: 95%;
  }

  .intro-title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url('static/font-background.jpg');
    font-size: 30px;
    margin-top: 0;
  }

  .intro-greeting {
    color: #dd610e;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 2px;
  }

  .intro-text {
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    padding: 10px 10px;
    font-size: 15px;
    max-width: 500px;
    line-height: 25px;
    font-weight: 100;
  }

  .intro-date {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .intro-place {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 5%;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    gap: 8px;
    margin-top: 4%;
  }

  .card {
    display: flex;
    flex-direction: row;
    padding: 3%;
    gap: 4%;
    text-align: start;
    background-color: rgba(100, 100, 100, 0.5);
  }

  .card-img {
    min-height: 50px;
    min-width: 50px;
    margin: 10px 0 5px 0;
  }

  .card-title {
    color: #ec5242;
    font-size: 22px;
    margin: 0;
    min-width: 100px;
  }

  .card-text {
    font-size: 13px;
    margin: 0;
    max-width: 85%;
    margin-bottom: 0%;
  }

  .projects-link {
    display: none;
  }

  .projects-link-mobile {
    display: block;
    background-color: #ec5242;
    border: none;
    color: #fff;
    padding: 20px;
    font-size: 13px;
    margin-top: 8%;
    margin-bottom: 8%;
  }

  .spk-container {
    gap: 20px;
    padding-bottom: 5%;
  }

  .spk-container-title {
    margin-top: 25px;
  }

  .spk-card-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .partners {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10%;
    opacity: 0.4;
    width: 70%;
  }

  .partner-logo {
    max-width: 80px;
  }

  .footer-brand {
    font-size: 15px;
  }

  .footer-title {
    font-size: 10px;
    margin: 0;
    max-width: 180px;
  }

  .footer-paragraph {
    display: none;
  }

  .credits {
    gap: 0%;
    max-width: 100vw;
    justify-content: center;
    padding-bottom: 10px;
    background-color: transparent;
  }
}
